span {
    display: inline-block;
    position: relative;
}

span:before {
    content: "~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 90%;
    left: -1px;
    overflow: hidden;
}